.App {
    height: 100vh;
    width: 80%;
    min-width: 800px;
    background-color: #ad62aa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}