.Road {
    width: 100%;
    height: 30%;
    min-height: 120px;
    background-color: #ff0000;
    display: flex;
}

.SegmentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.Segment {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    box-sizing: border-box;
}