.InputResult {
    margin-top: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.InputResult p {
    font-size: 60px;
    color: #000000;
    margin-left: 30px;
}

.InputResult p:first-child {
    margin-left: 0;
}